//variables
$main: #f9f9f9;
$light:#f9f9f9;
$accent: #56545C;
$link: #847F9B; //#ECCD5F
$weight:500;
$boxwidth: 380px;

//basics
body{
	background-color: #27272A;
	font-family: "europa", Menlo, Courier, sans-serif;
	font-weight: $weight;
	color: $main;
	line-height: 28px;
}
h1{
	font-size: 20px;
	font-weight:$weight;
	color:$main;
}
h1:hover{
	cursor:pointer;
	animation-name: titleanimation;
    animation-duration: 1s;
    animation-delay:.2s;
    animation-iteration-count: infinite;
}

@keyframes titleanimation {
    0%   {color: #2bde05;}
    20%  {color: #05de4c}
    40%  {color: #0597de;}
    60%  {color: #4c05de;}
    80%  {color: #b805de;}
    100% {color: #CB8705;}
}

h1:hover{

}
h2,p{
	color:$accent;
	font-size:16px;
	font-weight:$weight;

}
h3{
	color: $light;
	font-size: 10px;
	letter-spacing: 3.5px;
	margin: 0;

}
a{
	color: $link;
	text-decoration: none;
}
a:hover{
	background-color: #2D2D31;
}

//specifics
.container{
	display:flex;
  	flex-flow: row wrap;
  	justify-content: flex-start;
}
.headline{
	margin-bottom:80px;
}
.box{
	margin: 20px 55px 40px 0;
	p{margin:0;}
	width:$boxwidth;
}

//media queries
@media screen and (min-width: 220px) {
	body{padding: 40px 24px;}
	p{font-size: 15px;}
}
@media screen and (min-width: 480px) {
	body{padding: 40px 35px;}
	p{font-size: 16px;}
}
@media screen and (min-width: 540px) {
	body{padding: 60px;}
}









