//variables
$bg: #fafafa;
$main: #5C6B7D;
$light:#B4C0CF;
$accent: #7D8895;
$divider: #D1E2E8;
$link: #0076FF; //#ECCD5F
$link-hover: #EFF4FA;
$weight:500;
$boxwidth: 380px;

//mixins
@mixin row-wrap($content) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: $content;
  	-webkit-justify-content: $content;
    -ms-flex-pack: $content;
    justify-content: $content;
}
@mixin align-items($align){
  	-webkit-box-align: $align;
  	-webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

//basics
body{
	background-color: $bg;
	font-family: "europa", Menlo, Courier, sans-serif;
	font-weight: $weight;
	color: $main;
	line-height: 28px;
}

.base{
	max-width: 870px;
	margin:0 auto;
}

h1{
	font-size: 20px;
	font-weight:$weight;
	color:$main;
}
h1:hover{
	cursor:pointer;
	animation-name: titleanimation;
    animation-duration: 1s;
    animation-delay:.2s;
    animation-iteration-count: infinite;
}

@keyframes titleanimation {
    0%   {color: $main;}
    25%   {color: $link;}
    55%   {color: $main;}
    75%   {color: $link;}
    100%  {color: $main;}
}

h1:hover{

}
h2,p{
	color:$light;
	font-size:16px;
	font-weight:$weight;

}
h3{
	color: $light;
	font-size: 12px;
	letter-spacing: 3px;
	margin: 0;
	margin-bottom: 8px;

}
a{
	color: $link;
	text-decoration: none;
}
a:hover{
	background-color: $link-hover;
}

//specifics
.container{
	display:flex;
  	flex-flow: row wrap;
  	justify-content: flex-start;
}
.headline{
	margin-bottom:15px;
	@include row-wrap(space-between);
	.nav{
		margin-top: 16px;
		a:hover{ background-color: $link-hover;}
		a{ margin-left: 14px;color: $link;}
		a:first-child{margin-left:0;}
	}
}
.box{
	margin: 20px 55px 40px 0;
	p{margin:0;}
	width:$boxwidth;
}

hr{
	width: 100%;
	border: none;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;
}
.footer{
	border-top: 1px solid $divider;
	font-size: 13px;
	color: darken($divider, 5%);
	padding-top: 8px;
	margin-top:25px;
}

//media queries
@media screen and (min-width: 220px) {
	body{padding: 40px 24px;}
	p{font-size: 15px;}
}
@media screen and (min-width: 480px) {
	body{padding: 40px 35px;}
	p{font-size: 16px;}
}
@media screen and (min-width: 540px) {
	body{padding: 60px;}
}
